@media (max-width: 900px)
{
	
		html, body{
					padding-top: env(safe-area-inset-top);
					padding-bottom: env(safe-area-inset-bottom);
					touch-action: manipulation;
				}
		
		#loader{
					position:fixed;
					inset:0;
					background:#04070d;
					display:flex;
					justify-content:center;
					align-items:center;
					z-index:9999;
					transition:opacity 0.5s ease;
				}

		.loader-icon{
					width:120px;
					animation:pulsarLoader 1.5s ease-in-out infinite;
					filter:drop-shadow(0 0 20px rgba(255,200,80,0.6));
				}

				@keyframes pulsarLoader{
				0%{
				transform:scale(1);
				opacity:0.8;
				}
				50%{
				transform:scale(1.15);
				opacity:1;
				}
				100%{
				transform:scale(1);
				opacity:0.8;
				}
				}
		
.loader-icon{
animation:
pulsarLoader 1.5s ease-in-out infinite,
girar 6s linear infinite;
}

@keyframes girar{
from{ transform:rotate(0deg); }
to{ transform:rotate(360deg); }
}		
		
		

.controles{
top:19%;
left:50%;
transform: translate(-50%, -50%);
width:70%;
}
	
	.botoes{
gap:20px;
}
	
	

    .btn-girar{
        width: 150px; /* maior no mobile */
    }

    .btn-auto{
        width: 120px;
    }

    .painel{
        padding: 15% 1% 8%;
    }

		 .placas{
		position:absolute;
		left:50%;
		top:-43%; /* relativo à tela */
		transform:translateX(-81%);
		width:75%;
		display:flex;
		justify-content:center;
		gap:0%;
		z-index:5;

		}

    .placa{
        min-width: 120px;
        max-width: 140px;
    }

    .placa-aposta{
        width: 160px;
        min-width: 160px;
        max-width: 160px;
    }

    .numero{
        font-size: 25px; /* aumenta leitura */
		top:35px;	
    }

    .bet-control .numero{
        font-size: 25px;
    }
	
	.torch{
position:absolute;
top:-24%;
width:9.4%;
max-width:120px;
pointer-events:none;
z-index:3;
}

.torch-left{
left:-28%;
}

.torch-right{
right:70%;
}
	
.msg-creditos{
position:absolute;
left:33%;
top:-200%;
transform:translate(-50%, -50%);
margin:0;
z-index:20;
}
	
	
	

 #game-background{
height: 121%;
width: 114vw;
transform: translate(-50%, -7%);
}

#game-frame{
position:absolute;
height:47%;
top:44%;
transform:translate(-154%, -136%);
width:48%;
z-index:1;
pointer-events:none;
   -webkit-mask-image: radial-gradient(circle at center, black 92%, transparent 100%);
    mask-image: radial-gradient(circle at center, black 92%, transparent 100%);
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.6));
	
}

	.painel{
		position: absolute;
        display: flex;
        left: 177px;
        top: 50%;
        transform: translate(-53%, -39%);
        width: 85%;
        padding: 0;
        gap: 3%;
}


	.carta{
	width:16%;
	height:auto;
	aspect-ratio:180/250;
	transform:translateY(0); /* base fixa */

		}
		
}